<!DOCTYPE html>
<html ng-app="CarreExample">

  <head>
     <base href="/risk-assessment/">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-cookies.min.js"></script>
    <script src="//cdn.rawgit.com/carre-project/risk-assessment-example/master/risk_evidence_condition_parser.min.js"></script>
    <script src="example.controller.js"></script>
    <script src="api.service.js"></script>
    
  </head>

  <body ng-controller="ExampleController" class="col-sm-12">
    <h1>CARRE Personalized Risk Assessment</h1>
    <h4 ng-show="user.username">Hi {{user.username}}, <a class="btn btn-xs btn-default" ng-href="{{logoutUrl}}">Logout</a> </h4>
    <h4 ng-hide="user.username">Hello guest, please <a class="btn btn-xs btn-default" ng-href="{{loginUrl}}">Login</a> or 
    <button class="btn btn-xs btn-default" ng-click="loadTestUser()">Load Test User</button></h4>
    <button class="btn btn-sm btn-primary" ng-show="user.username&&!loading" ng-click="loadData()" >Load my DATA</button> <img style="padding-left:5px;" ng-show="loading" src="ajax-loader.gif">
    <hr>
    <div ng-hide="loading">
      <div class="alert alert-info" ng-hide="measurements.length>0">No data</div>
      <div ng-show="measurements.length>0">
        <h4>My Last measurements</h4>
        <ul class="list-group">
        <li class="list-group-item" ng-repeat="me in measurements">
          <a target="_blank" ng-href="{{me.link}}"> {{me.label}}</a>:  <b>{{ me.value }}</b>  ,<small> on {{me.date}}</small> 
        </li>
        </ul>
        <h4>My Risk Assessment</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="rf in risk_factors">
            <a target="_blank" ng-href="{{rf.link}}">{{rf.label}}</a> 
            with evidences:
            <ul>
              <li style="display:inline" ng-repeat="ev in rf.evidences">
               <small><a target="_blank" ng-href="{{ev.link}}"> {{ev.label}}</a> with ratio  {{ ev.ratio }} </small>,
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>


    
    
  </body>

</html>
